.form-group {
    display: none;
}

.timeline {
    border-left: 3px solid black;
    height: auto;
    position: relative;
}

.ticker {
    margin-left: -66px;
    position: absolute;
    list-style: none;
    height: 10px;
}

.ticker .date {
    height: 10px;
    font-size: 10px;
    float: left;
}

.ticker .dash {
    margin-left: 5px;
    background-color: black;
    height: 1px;
    width: 10px;
    display: inherit;

}

.ticker {
    vertical-align: middle;

}

.timeline .event {
    border-radius: 10px;
    list-style: none;
    width: 20px;
    background-color: deeppink;
    position: absolute;

}

.details {
    margin-left: 12px;

}

.timeline .event .details {
    display: none;
    position: absolute;
    z-index: 2;
    background: #fff;
    border: 1px solid #aaa;
    min-width: 100px;
}

.timeline .event:hover .details {
    display: block;

}

.date {
    margin-top: -8px;
    margin-left: -50px;
}

.timeline .event.battle img {
    height: 20px;
    width: 20px;
    /*display: block;*/

}
.showDetails{
    display: block;
}
.showDetails{
    display: block;
}

.imgPerson{
    margin-top: 10px;
    margin-left: 1px;
    width: 18px;
    height: 25px;
    transition: transform .2s;
}
.imgPerson:hover{
    transform: scale(5.0);
    z-index: 2;

}


